<h1> PFCTI Movimiento de activos</h1>
<div class="form-group">
   
</div>
<table class="table table-bordered table-striped"  ng-init="list()">
    <thead>
        <tr>            
            <th>Número de activo</th>
            <th>IP</th>
            <th>Tipo de Movimiento</th>
            <th>Accesorios</th>
            <th>Justificación</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="Movements in MovementsCollection">            
            <td ng-bind="Movements.ASSETNUMBER"></td>
            <td ng-bind="Movements.ASSETIP"></td>
            <td ng-bind="Movements.MOVEMENTTYPE"></td>
            <td ng-bind="Movements.ACCESORIESDETAIL"></td>
            <td ng-bind="Movements.MOVEMENTREASON"></td>
            <td ng-bind="Movements.MOVEMENTDATE | date:'dd/MM/yyyy hh:mm'"></td>         
        </tr>
    </tbody>

</table>

