<h1> PFCTI Movimientos </h1>
<div class="form-group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
        Regisrar salida
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModified">
        Regisrar entrada
    </button>
</div>
<table class="table table-bordered table-striped"  ng-init="list()">
    <thead>
        <tr>
            <th>Identificación del movimiento</th>
            <th>Número de activo</th>
            <th>IP</th>
            <th>Usuario</th>
            <th>Tipo de Movimiento</th>
            <th>Detalle</th>
            <th>Justificación</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="Movements in MovementsCollection">
            <td ng-bind="Movements.MOVEMENTID"></td>
            <td ng-bind="Movements.ASSETNUMBER"></td>
            <td ng-bind="Movements.ASSETIP"></td>
            <td ng-bind="Movements.USERNAME"></td>
            <td ng-bind="Movements.MOVEMENTTYPE"></td>
            <td ng-bind="Movements.ACCESORIESDETAIL"></td>
            <td ng-bind="Movements.MOVEMENTREASON"></td>
            <td ng-bind="Movements.MOVEMENTDATE"></td>

         
        </tr>
    </tbody>

</table>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" novalidate>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Movimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Identificación del movimiento</label>
                    <input type="text" class="form-control" ng-model="Movements.MOVEMENTID">
                </div>
                <div class="form-group">
                    <label>Número de activo</label>
                    <input type="text" class="form-control" ng-model="Movements.ASSETNUMBER">
                </div>
                <div class="form-group">
                    <label>IP</label>
                    <input type="text" class="form-control" ng-model="Movements.ASSETIP">
                </div>
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" ng-model="Movements.USERNAME">
                </div>
                <div class="form-group">
                    <label>Tipo de movimiento</label>
                    <input type="text" class="form-control" ng-model="Movements.MOVEMENTTYPE">
                </div>


                <div class="form-group">
                    <label>Detalle</label>
                    <input type="text" class="form-control" ng-model="Movements.ACCESORIESDETAIL">
                </div>

                <div class="form-group">
                    <label>Justificación</label>
                    <input type="text" class="form-control" ng-model="Movements.MOVEMENTREASON">
                </div>

                <div class="form-group">
                    <label>Fecha</label>
                    <input type="text" class="form-control" ng-model="Movements.MOVEMENTDATE">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="OutCome()">Salvar Cambios</button>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="addModified" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" novalidate>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar Movimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Identificación del movimiento</label>
                    <input type="text" class="form-control" ng-model="Movements.MOVEMENTID">
                </div>
                <div class="form-group">
                    <label>Número de activo</label>
                    <input type="text" class="form-control" ng-model="Movements.ASSETNUMBER">
                </div>
                <div class="form-group">
                    <label>IP</label>
                    <input type="text" class="form-control" ng-model="Movements.ASSETIP">
                </div>
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" ng-model="Movements.USERNAME">
                </div>
                <div class="form-group">
                    <label>Tipo de movimiento</label>
                    <input type="text" class="form-control" ng-model="Movements.MOVEMENTTYPE">
                </div>


                <div class="form-group">
                    <label>Detalle</label>
                    <input type="text" class="form-control" ng-model="Movements.ACCESORIESDETAIL">
                </div>

                <div class="form-group">
                    <label>Justificación</label>
                    <input type="text" class="form-control" ng-model="Movements.MOVEMENTREASON">
                </div>

                <div class="form-group">
                    <label>Fecha</label>
                    <input type="text" class="form-control" ng-model="Movements.MOVEMENTDATE">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="InCome()">Salvar Cambios</button>
            </div>
        </form>
    </div>
</div>