<h1> PFCTI Activos </h1>
<!--<div class="form-group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Assign Asset 
    </button>
</div>-->

<div class="form-group">
    <a class="btn btn-primary" href="#!/addAsset">Asignarme un activo</a>
</div>

<table class="table table-bordered table-striped"  ng-init="list()">
    <thead>
        <tr>
            <th>Nombre completo</th>
            <th>Usuario</th>
            <th>Cédula</th>
            <th>IP</th>
            <th>Unidad de Servicio</th>
            <th>Número de activo</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="Employee in EmployeeCollection">
            <td ng-bind="Employee.USERCOMPNAME"></td>
            <td ng-bind="Employee.USERNAME"></td>
            <td ng-bind="Employee.USERPERSONALID"></td>
            <td ng-bind="Employee.ASSETIP"></td>
            <td ng-bind="Employee.USERSERVICEUNIT"></td>
            <td ng-bind="Employee.ASSETNUMBER"></td>            
            <td>
                <button type="button" class="btn btn-outline-warning btn-sm" ng-click="openEdit(Employee.ASSETNUMBER)">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger btn-sm" ng-click="remove(Employee.ASSETNUMBER,Employee.USERNAME,Employee.ASSETIP)">Eliminar</button>
            </td>
        </tr>
    </tbody>

</table>
