<h1> PFCTI Activos </h1>
<div class="form-group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Asignar Activo
    </button>
</div>
<table class="table table-bordered table-striped"  ng-init="list()">
    <thead>
        <tr>
            <th>Nombre completo</th>
            <th>Cédula</th>
            <th>IP</th>
            <th>Unidad de Servicio</th>
            <th>Número de activo</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="Employee in EmployeeCollection">
            <td ng-bind="Employee.Name"></td>
            <td ng-bind="Employee.Id"></td>
            <td ng-bind="Employee.IP"></td>
            <td ng-bind="Employee.ServiceUnit"></td>
            <td ng-bind="Employee.ResourceId"></td>
            <td>
                <button  type="button" class="btn btn-outline-danger btn-sm" ng-click="Remove(Employee.Id,Resource.Id)">Eliminar</button>
            </td>
        </tr>
    </tbody>

</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" novalidate>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Activo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-pane">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" ng-model="Employee.USERCOMPNAME">
                    </div>
                    <div class="form-group">
                        <label>Usuario</label>
                        <input type="text" class="form-control" ng-model="Employee.USERNAME" value={{UserInfo.UserName}}>
                    </div>
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" ng-model="Employee.USERPERSONALID">
                    </div>
                </div>

                <div class="tab-pane">
                    <div class="form-group">
                        <label>IP</label>
                        <input type="text" class="form-control" ng-model="Employee.ASSETIP" value={{UserInfo.UserIp}}>
                    </div>
                    <div class="form-group">
                        <label>Unidad de Servicio</label>
                        <input type="text" class="form-control" ng-model="Employee.USERSERVICEUNIT">
                    </div>
                    <div class="form-group">
                        <label>Número de activo</label>
                        <input type="text" class="form-control" ng-model="Employee.ASSETNUMBER">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="add()">Agregar activo</button>
            </div>
        </form>
    </div>
</div>