<style>
                .img-responsive{
                margin:0 auto;
                max-width: 100%;
                height: 100%;
                }
                </style>
               
                
                <div class="container">
            
               
                <div class="col-md-12">
                
                  <img src="app\images\imagen1.jpg" class="img-responsive" alt="Laptop" > 
                </div>
               
                </div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre completo</th>
            <th>Cédula</th>
            <th>IP</th>
            <th>Unidad de Servicio</th>
            <th>Número de activo</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="Employee in EmployeeCollection">
            <td ng-bind="Employee.Name"></td>
            <td ng-bind="Employee.Id"></td>
            <td ng-bind="Employee.IP"></td>
            <td ng-bind="Employee.ServiceUnit"></td>
            <td ng-bind="Employee.ResourceId"></td>
        </tr>
    </tbody>

    <br/>

   
</table>