<div class="row justify-content-center">
    <div class="col-xs-12 col-md-4">
        <div class="card my-4">
            <div class="card-body">
                <h5 class="card-title">Ingreso</h5>
                <form novalidate name="loginForm" ng-submit="login(loginForm)">
                    <div class="form-group">
                        <label>Usuario *</label>
                        <input class="form-control" type="text" name="email" ng-model="user.userName" required validate="loginForm.username" />
                        <div class="invalid-feedback" ng-show="loginForm.email.$error.required">Required field.</div>
                       
                    </div>
                    <div class="form-group">
                        <label>Contraseña *</label>
                        <input class="form-control" type="password" name="password" ng-model="user.password" required validate="loginForm.password" />
                        <div class="invalid-feedback" ng-show="loginForm.password.$error.required">Required field.</div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>